body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-body-container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;
}

.header-section {
  text-align: center;
}

.questions-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.question-list {
  list-style: none;
  padding: 0;
  color: #000;
}

.question-item {
  margin-bottom: 1em;
}

.question-item label {
  color: #000;
}

.google-colors h1 {
  display: inline;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: left;
}

#google-c {
  color: #4285f4;
}

#google-s {
  color: #ea4335;
}

#google-4 {
  color: #fbbc05;
}

#google-3 {
  color: #4285f4;
}

#google-0-1 {
  color: #34a853;
}

#google-0-2 {
  color: #ea4335;
}

.output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

input[type='number'] {
  width: 50px;
  border: 1px solid #b1adad;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.1em;
}

img {
  width: 500px;
  height: 350px;
}

button[type="button"] {
  background-color: #4285f4;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 25px;
  border: none;
  transition: background-color 0.2s;
  align-self: center;
}

button[type="submit"] {
  background-color: #4285f4;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 25px;
  border: none;
  transition: background-color 0.2s;
  align-self: center;
}

button[type="submit"]:hover {
  background-color: #082d6d;
}

.output-message {
  font-size: 1.2em;
  color: #292f37;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
}

.button-holder {
  text-align: center;
}